# Dependency directories
node_modules
typings

# builds
webpack/build

# Build side effects.
*.js

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

sessions
ben.sqlite3
ids.json
testdb

# node-waf configuration
.lock-wscript

# Webstorm files that are not project fair
.idea/misc.xml
.idea/workspace.xml

config.json
test-config.json

npm-debug.log
